@charset "utf-8";
@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

$web : 1399px;
$tabB : 1024px;
$tabM : 767px;
$tabS : 567px;
$mob : 469px;

@import "header";
@import "content";